{% extends "master.html" %}
{% block content %}
<h3>Contact Form</h3>
<div class="container">
  <form method="post">
    {% csrf_token %}
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" value="{{var1}}" placeholder="Your name.." requried>
    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" value="{{var2}}" placeholder="Your last name.." requried>
    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>
    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    <input type="text" value="{{var1}} {{var2}}">
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock content %}