{% extends "master1.html" %}


{% block title %}
  My Super Store
{% endblock %}

{% block content %}

<div style="height:650px" >

    <div style="width:65% ; background-color:lightgray; margin-left:1% ; 
    margin-top:1% ; height:100% ;border: 1px solid #ccc;
    border-radius: 25px;float:left " >

    <h1 style="text-align:center;margin-left:10%;margin-top:1% ;background-color:rgb(163, 230, 76);
    border: 1px solid rgb(19, 135, 230); width:80%;
    border-radius: 5px;">All Products</h1>
    
    <div class="container" style="width:94% ;;margin-left:1% ;margin-top:0%;padding-top:1%;height:30%">
        <form method='post' action="{% url 'addupdatecart'%}">
        {% csrf_token %}

        <label for="all_products">All Produts:</label>
        <select name="all_products" id="all_products" required='True'>
        <option value="">Select</option>
        {% for x in myproducts %}
          
          <option value="{{ x.productname }}"> {{ x.productname }} </option>
        {% endfor %}
        </select>
        <label for="proqty">Qty:</label>
        <input type="text" name='proqty' required='true' > 
        <input type="submit" name='savecart' style="width:20% ;float:left;"  value="Add|Update Cart" > 
      </form>
      {%if instock%}
      {% for x in myproducts %}
      <p style="width:20% ;float:left;margin-left:5%" >InStock|[{{ x.product_quantity }}]</p>
      {% endfor %} 
      {% endif %}
      <a onclick="return confirm('Are you sure you want to clear cart?')" style= "width:10% ;float:left;margin-left:5%" name="reset" href="{% url 'clear_cart' %}">Clear Cart</a>
    </div>


    <h3 style=" text-align:center; margin-left:25%;margin-top:1% ;background-color:rgb(163, 230, 76);
      border: 1px solid rgb(19, 135, 230); width:50%;
      border-radius: 5px;">Customer Cart Details</h3>

    <div class="container" style="width:94% ;height:40%;margin-left:1% ;margin-top:0%;float:left;overflow-x: hidden; padding-top:1%">

        <div class="container1" style="width:100% ;height:98%;margin-left:0% ;margin-top:1%;">

          <table style="width:100%; margin-left:0% ">
            <thead>
              <tr >
                
                <td style="width:5%;background-color: aquamarine;"> Count </td>
                <td style="width:5% ;background-color: aquamarine;"> P.ID </td>
                <td style="background-color: aquamarine;"> Product Name </td>
                <td style="background-color: aquamarine;"> Sale_price </td>
           
                <td style="background-color: aquamarine;"> Qty </td>
                <td style="background-color: aquamarine;"> Total Amount </td>
                <td style="background-color: aquamarine;"> Delete </td>
              </tr>
            </thead>
    
              {% for x in cartitems %}
              <tr style="text-align:center ; margin-top:25px ;" >
                <td style="width:5%">{{ forloop.counter }} </td>
                <td style="width:5%"> {{ x.pid }} </td>
                <td style="width:25%">{{ x.productname }} </td>
                <td>{{ x.product_sale_price }} </td>
                <td>{{ x.product_quantity }} </td>
                <td>{{ x.total_price}} </td>
                <td> <a onclick="return confirm('Are you sure you want to delete this?')" name="navlink"  href="{% url 'delete_cartitem' id=x.id %}">Delete</a></td>
              </tr>
              {% endfor %}
          
          </table>
        </div>
      </div>                  
    </div>

    <div style="width:32% ; background-color:lightgray; margin-left:1% ; 
      margin-top:1% ; height:100% ;border: 1px solid #ccc;
      border-radius: 25px; float:left" >

      <h1 style="text-align:center;margin-left:10%;margin-top:1% ;background-color:rgb(163, 230, 76);
      border: 1px solid rgb(19, 135, 230); width:80%;
      border-radius: 5px;">Customer Bill Area</h1>
      <div class="container" style="width:89% ;;margin-left:1% ;margin-top:0%;float:left;height:15%;padding-top:5px">
        <h3 style="text-align:center;margin-left:10%;margin-top:0% ;;background-color:rgb(163, 230, 76);
        border: 1px solid rgb(19, 135, 230); width:80%;
        border-radius: 5px;">Customer Details</h3>

        <form method='post'  action= "{% if generate %}  {% url 'print_bill'%} {% else %}   {% url 'generate_bill'%} {% endif %}">

        {% csrf_token %}
    

        <div style='width:40%;float:left'>{{cust_form.customer_name.name|title}} {{cust_form.customer_name}}</div>
        <div style='width:40%; float:left;margin-left:5%'>{{cust_form.customer_contact.name|title}} {{cust_form.customer_contact}}</div>

      </div>

      <div class="container" style="width:89% ;height:45%;margin-left:1% ;margin-top:1%;float:left">
        {% if generate %}
        <textarea id="text_area" style="height:100%;font-size:11px" name="text_area" rows="4" cols="50">{{bill_top}} 
  Sr.No  P.ID    Pro.Name   U.Price     Qty.   Amount
    {% spaceless %}
    {% for x in cartitems %}
    {{ forloop.counter }}     {{ x.pid|ljust:7 }} {{ x.productname|ljust:10 }}  {{ x.product_sale_price|ljust:10 }} {{ x.product_quantity|ljust:5 }} {{ x.total_price|rjust:5}} {% endfor %}
    {% endspaceless %}
    {{bill_bottom_temp}}</textarea>
        {% endif %}
        
      </div>

      <div class="container1" style="width:98% ;;margin-left:1% ;margin-top:1%;float:left;height:17%;border-radius: 15px;">

        <div  style="width:32% ;;margin-left:1% ;padding-top:2%;margin-top:1%;float:left;height:40%;background-color:rgb(170, 228, 170);text-align:center;color:black">Bill Amount<br>[{{bill_amnt}}]</div>
        <div  style="width:32% ;;margin-left:1% ;padding-top:2%;margin-top:1%;float:left;height:40%;background-color:skyblue;text-align:center;color:black">Discount (5%)<br>[{{discount}}]</div>
        <div  style="width:32% ;;margin-left:1% ;padding-top:2%;margin-top:1%;float:left;height:40%;background-color:rgb(170, 228, 170);text-align:center ;color:black">Net Py <br>[{{net_pay}}]</div>

          <a style="width:4% ;float:left;margin-left:2%;margin-top:1%" name="reset"  href="/customerbill/">Reset</a>

          <input type="submit" name='savebill' style="width:40%;margin-left:2% ;float:left;margin-top:1%"  value= "{% if generate %}Print {% else %}Generate|Save Bill{% endif %}"> 
          </form>
           
      </div>
    </div>
  </div>

{% endblock %}

