{% extends "master1.html" %}

{% block title %}
  My Super Store
{% endblock %}

{% block content %}

<div style="height:600px" >

  

  <div style="width:70% ; background-color:lightgray; margin-left:15% ; 
  margin-top:1% ; height:100% ;border: 1px solid #ccc;
  border-radius: 25px; " >
  <h1 style="text-align:center;margin-left:40%;margin-top:1% ;background-color:rgb(163, 230, 76);
  border: 1px solid rgb(19, 135, 230); width:20%;
  border-radius: 5px;">All Sales</h1>
  
    <div class="container" style="width:98% ;margin-left:0% ;margin-top:0%; padding:1% 1% 1% 1% ;">
    <table>
      <thead>
        <tr >
          <td style="width:5%;background-color: aquamarine;"> Count </td>
          <td style="width:5% ;background-color: aquamarine;"> S.ID </td>
    
          <td style="background-color: aquamarine;"> Customer Name </td>
          <td style="background-color: aquamarine;"> Bill Id </td>
          <td style="background-color: aquamarine;"> Amount </td>
          <td style="background-color: aquamarine;"> Discount </td>
          <td style="background-color: aquamarine;"> Net Pay </td>
        </tr>
      </thead>
        {% for x in mysales %}
        <tr style="text-align:center ; margin-top:25px ;" >
          <td style="width:5%"> {{ x.id }}</td>
          <td style="width:5%"> {{ forloop.counter }} </td>
          <td> {{ x.custname|title }} </td>
          <td> {{ x.bid }} </td>
          <td> {{ x.tamount }} </td>
          <td> {{ x.disc }} </td>
          <td> {{ x.netpay }} </td>
         
        </tr>
        {% endfor %}  
    </table>
    </div>
  </div>
</div>
{% endblock %}

